h1{
    margin-left: 30%;
    width: 1000;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(245, 245, 248);

}
body{
    background-color: rgb(0, 0, 0);
}
p{
    margin-left: 30%;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: chartreuse;
}
li{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: chartreuse;
}
h2{
    font-size: 40px;
    margin-left: 35%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: chartreuse;
    
}
h3{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: chartreuse;
}
h4{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: chartreuse;
}
h5{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: chartreuse;
}
h6{
    font-size: 30px;
    margin-left: 35%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: chartreuse;
    
}
.contenedor{
    margin: 10% 40%;
    width: 55%;
    display: block;
    border: 1px solid #f5eeee;
}
.ingresar2{
    width: 100;
    display: block;
    margin: auto;
    border: 1px solid #a50e0e;
}
#daniel{
    margin: 10% 40%;
    background: rgb(248, 248, 250);
    width: 50%;
    font-family: 'Times New Roman', Times, serif;
    color: #0aec6c;
    display: block;
    
    border: 1px solid #a50e0e;
    background-image: "FinesseGrande.png";
}
.links{
    color: #f5eeee;
    margin: 10% 40%;
    
    width: 55%;
    display: block;
}
.boton{
    
    margin: 10% 40%;
    width: 55%;
    display: block;
}
#unico{
    margin-left: 35%;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: chartreuse;

}
#unico2{
    margin-left: 55%;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: chartreuse;
}
#unico3{
    margin: 10% 30%;
    width: 55%;
    display: block;
    
}
.colorRojo{
    color: crimson;
}
.contenedor2{
    margin-left: 24%;   
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: chartreuse;
}
#unico4{
    margin-left: 45%;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: chartreuse;
}
